body {
  background-color: pink;
  margin: 0 auto;
  max-width: 60em;
}

.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr
}

h2 span {
  display: list-item;
  list-style: none;
}